In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
from _src import EnergyTrading

### data init

In [108]:
file_path = "ami_datas/apt_780_201809.csv"
trade = EnergyTrading(file_path, month=9)

trade.datas.head()

      name  usage (kWh)
0  601_101      287.717
1  601_102      231.085
2  601_103      198.624
3  601_104      242.755
4  601_201      200.995

### set init
- 설정값
1. season : 계절
2. step_limit : usageBorder, 거래 가능 사용량 구하기 위한
3. sum_of_supply_kwh : 거래 가능 사용량 누진단계 1단계 미만 가구들의 총 합

In [109]:
trade.set_init()

In [110]:
trade.datas

         name  usage (kWh)
0     601_101      287.717
1     601_102      231.085
2     601_103      198.624
3     601_104      242.755
4     601_201      200.995
..        ...          ...
775  610_1804      220.434
776  610_1903      283.028
777  610_1904      404.836
778  610_2003      220.235
779  610_2004      200.888

[780 rows x 2 columns]

### simulate

In [ ]:
import time

start = time.process_time()

trade.simulate()

end = time.process_time()

print(end - start)

trade.result.shape

In [11]:
import numpy as np
def elec_rate(t):
    step_limits = np.array([200, 200, float("inf")])
    steps = np.array([0, 200, 400])
    
    _1 = t - steps
    _2 = _1[_1 > 0]
    
    size = _2.size
    _3 = np.where(_2 < step_limits[:size], _2, step_limits[:size])
    print(_3)
    
elec_rate(460)

[200. 200.  60.]