In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
from _src import EnergyTrading

### data init

In [3]:
file_path = "ami_datas/apt_780_201809.csv"
trade = EnergyTrading(file_path, month=9)

trade.datas.head()

      name  usage (kWh)
0  601_101      287.717
1  601_102      231.085
2  601_103      198.624
3  601_104      242.755
4  601_201      200.995

### set init
- 설정값
1. season : 계절
2. step_limit : usageBorder, 거래 가능 사용량 구하기 위한
3. sum_of_supply_kwh : 거래 가능 사용량 누진단계 1단계 미만 가구들의 총 합

In [4]:
trade.set_init()

trade.datas

         name  usage (kWh)
0     601_101      287.717
1     601_102      231.085
2     601_103      198.624
3     601_104      242.755
4     601_201      200.995
..        ...          ...
775  610_1804      220.434
776  610_1903      283.028
777  610_1904      404.836
778  610_2003      220.235
779  610_2004      200.888

[780 rows x 2 columns]

### simulate

In [5]:
import time

start = time.process_time()
trade.simulate()
end = time.process_time()
print(end - start)

trade.result.shape

22.583385

(1095, 4)

In [138]:
def get_settlement_infos(self):
    # Original 가격 구하기
    household_count = len(self.datas)
    
    total_household_usage = self.datas['usage (kWh)'].sum()
    public_usage = total_household_usage * 0.25
    
    APT = total_household_usage + public_usage
    APT_mean = APT / household_count
    apt = Household(name='apt', kwh=APT_mean).set_rate("단일", self.season)
    
    original_households_charge = self.datas.apply(
        lambda x: Household(name=x['name'], kwh=x['usage (kWh)'])\
            .set_rate("단일", trade.season).elec_rate, axis=1)\
                .values
    self.datas['전력량요금'] = original_households_charge
    whole_apt_charge = apt.elec_rate * household_count
    households_charge = original_households_charge.sum()
    public_charge = whole_apt_charge - households_charge
    self.datas['공용부요금'] = public_charge / household_count
    
    # 거래 정보
    result_df = pd.DataFrame(self.result, columns=["index", "거래수량", "거래액수(1kWh)", "이익"])
    total_trade_energy = result_df['거래수량'].sum()
    total_sales = (result_df['거래액수(1kWh)'] * result_df['거래수량']).sum()
    # 판매자들이 1kWh당 받을 수 있는 가격
    pri_total_sales = total_sales / total_trade_energy
    trade_result = pd.DataFrame(np.append(self.datas[['name', 'usage (kWh)']].values,np.zeros((self.datas.index.size, 4)), axis=1),
                               columns=['name', 'usage (kWh)', '구매수량', '구매가격', '판매수량', '판매가격'])
    
    result_df['총 거래액수'] = result_df['거래액수(1kWh)'] * result_df['거래수량']
    group_result = result_df.groupby('index').sum()[['거래수량', '총 거래액수']]

    # 구매자 정보
    trade_result.loc[group_result.index.values, '구매수량'] = group_result['거래수량']
    trade_result.loc[group_result.index.values, '구매가격'] = group_result['총 거래액수']

    # 판매자 정보
    seller_datas = trade_result[trade_result['usage (kWh)'] < self.step_limit[0]].copy()
    trade_result.loc[seller_datas.index, '판매수량'] = self.step_limit[0] - seller_datas['usage (kWh)']
    trade_result.loc[seller_datas.index, '판매가격'] = trade_result.loc[seller_datas.index, '판매수량'] * pri_total_sales

    trade_result
    
    return trade_result

In [139]:
trade_result = get_settlement_infos(trade)[10:20]

       name usage (kWh)  구매수량          구매가격    판매수량         판매가격
10  601_303     163.984   0.0           0.0  36.016  5188.429478
11  601_304     348.426  15.0   2098.389407     0.0          0.0
12  601_401     232.431   0.0           0.0     0.0          0.0
13  601_402     208.679   0.0           0.0     0.0          0.0
14  601_403     196.948   0.0           0.0   3.052   439.668113
15  601_404     304.936   0.0           0.0     0.0          0.0
16  601_501     270.566   0.0           0.0     0.0          0.0
17  601_502      210.71   0.0           0.0     0.0          0.0
18  601_503     297.597   0.0           0.0     0.0          0.0
19  601_504     425.619  90.0  12766.581811     0.0          0.0

In [168]:
# 사용량 : 판매한 애들은 올라가고, 구매한 애들은 내려감
simulation_datas = self.datas[['name',
                              'usage (kWh)']].copy()

simulation_datas['usage (kWh)'] += trade_result['판매수량']
simulation_datas['usage (kWh)'] -= trade_result['구매수량']

mod_households_charge = simulation_datas.apply(
        lambda x: Household(name=x['name'], kwh=x['usage (kWh)'])\
            .set_rate("단일", trade.season).elec_rate, axis=1)\
                .values
simulation_datas['전력량 요금'] = self.datas['전력량요금']
simulation_datas['거래 전력량요금(거래가격 적용 X)'] = mod_households_charge
simulation_datas['거래 전력량요금(거래가격 적용 O)'] = mod_households_charge

# 거래가격 적용 : 판매한 애들은 내려가고, 구매한 애들은 올라감
simulation_datas['거래 전력량요금(거래가격 적용 O)'] -= trade_result['판매가격'].values
simulation_datas['거래 전력량요금(거래가격 적용 O)'] += trade_result['구매가격'].values

simulation_datas['차이'] = simulation_datas['전력량 요금'] - simulation_datas['거래 전력량요금(거래가격 적용 O)']

simulation_datas.loc[self.datas.sort_values(by=['usage (kWh)'], ascending=False).index]

,name,usage (kWh),전력량 요금,거래 전력량요금(거래가격 적용 X),거래 전력량요금(거래가격 적용 O),차이
707,610_104,332.716,98447.9896,33545.4868,92045.512254,6402.477346
475,607_1003,332.352,58357.3312,33493.6896,54117.085633,4240.245567
705,610_102,335.177,56846.2762,33895.6871,52938.301621,3907.974579
60,601_1601,334.868,55728.2008,33851.7164,52072.08286,3656.11794
426,606_1802,334.642,55680.6052,33819.5566,52035.062339,3645.542861
...,...,...,...,...,...,...
244,604_902,200.0,4145.7747,14660.0000,-6003.969145,10149.743845
143,602_1904,200.0,3994.2636,14660.0000,-6301.739128,10296.002728
133,602_1702,200.0,1125.8880,14660.0000,-11939.056496,13064.944496
22,601_603,200.0,818.1013,14660.0000,-12543.960299,13362.061599
346,605_1504,200.0,757.8487,14660.0000,-12662.376809,13420.225509

In [167]:
trade_result.loc[self.datas.sort_values(by=['usage (kWh)'], ascending=False).index]['구매가격'].values

array([58500.02545415372, 20623.396032561115, 19042.614521189655,
       18220.366459676276, 18215.50573946216, 17417.645783405493,
       17405.494558892555, 17352.214227285498, 16620.12628307953,
       16606.204366054255, 16592.419954026725, 16588.04674019236,
       15793.03987927676, 15787.561089021767, 15060.170098754093,
       14230.500521019663, 13504.320042756674, 13471.755863691513,
       12766.581810580019, 12743.659540988745, 12741.0139335201,
       11987.147668184876, 11268.199982778782, 10551.348385001356,
       10544.85488396857, 10540.801918911473, 10533.590655578642,
       9827.040146741576, 9826.617196516734, 9823.325457751589,
       9821.969315716105, 9821.22884740435, 9820.108842828526,
       9115.3591191216, 9113.839589271107, 9113.66480111058,
       9113.022513726779, 8412.837416264578, 8411.482342412171,
       8411.27008520114, 8410.046092496392, 7710.334573484921,
       7707.696189803702, 7707.62704310721, 7007.933039709342,
       7007.55727738205, 7006.246837173054, 6304.052852234612,
       6303.61995207733, 6303.573344735829, 5604.436683485208,
       5603.8858484146795, 5603.564527357965, 5602.894521603466,
       5602.774610059867, 5601.722809250286, 4902.062436402225,
       4901.707779615709, 4901.568640732052, 4901.01184479311,
       4900.800544582219, 4900.5152758121985, 4900.505163762942,
       4900.463091375061, 4201.293377220455, 4200.175523116603,
       4200.0241329697965, 4199.54722826749, 3666.79837047881,
       3499.735577192475, 3499.6998834902156, 3499.6789122409245,
       3499.379387448738, 3498.5597181631556, 3498.5233610526047,
       2799.2464459034127, 2799.104841082592, 2798.91962636315,
       2798.251403009883, 2798.1990604320767, 2099.016824415721,
       2098.7775781547643, 2098.38940712402, 2098.2453436514884,
       2097.9095136300957, 2097.8493422815186, 1398.7968054877788,
       1398.7923886403946, 1398.2296001631707, 1398.1766495639135,
       699.2584909945073, 699.2539719725689, 699.2521460370205,
       699.0715088548496, 699.0407183768987, 698.9944721942309,
       698.9157401733346, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
      dtype=object)

In [157]:
mod_households_charge

array([27142.1291, 19083.3955, 14660.    , 20744.0365, 14801.5885,
       22916.5306, 19906.1741, 28952.0428, 32031.5571, 14660.    ,
       14660.    , 33646.5198, 19274.9313, 15895.0217, 14660.    ,
       29592.3928, 24701.5418, 16184.033 , 28548.0531, 33958.5837,
       23452.2901, 21132.2309, 14660.    , 18302.1685, 14660.    ,
       25459.2893, 33418.5552, 14660.    , 23275.8381, 18698.0471,
       29483.5333, 19297.9839, 15390.2836, 34026.4608, 14660.    ,
       19910.0162, 33454.4148, 20122.4701, 31919.4247, 14660.    ,
       21828.0779, 24893.6468, 32756.7179, 16593.1455, 25422.5759,
       33327.9101, 24344.6534, 28266.2991, 33849.0127, 14660.    ,
       21955.2941, 23404.6196, 14660.    , 14660.    , 14660.    ,
       21660.1639, 33379.2804, 33765.6249, 15210.701 , 20395.4015,
       33851.7164, 14660.    , 33626.0286, 21769.1657, 19718.765 ,
       23264.7387, 28358.6518, 33777.1512, 17320.0139, 18525.1526,
       25858.7254, 14660.    , 14660.    , 14660.    , 18160.1531,
       14660.    , 26195.9764, 18776.0275, 22376.6444, 27093.3202,
       14660.    , 22760.9967, 14992.2705, 24879.8437, 17918.3854,
       31342.1136, 33990.1743, 32664.3652, 14660.    , 16416.8358,
       29802.8545, 26967.527 , 21430.3494, 14660.    , 14660.    ,
       33993.1626, 22232.0676, 33698.8862, 33317.5222, 26346.8144,
       14660.    , 22474.9737, 14660.    , 14660.    , 27651.99  ,
       33882.8801, 16676.9602, 28068.929 , 14660.    , 15360.8275,
       30467.1109, 24788.914 , 15286.5469, 19230.3914, 26775.5643,
       14660.    , 14660.    , 33363.2005, 29174.7423, 24461.0548,
       18539.8095, 24744.2318, 26012.4094, 24078.4101, 14660.    ,
       24913.5688, 25174.4047, 29749.9189, 28830.0917, 14660.    ,
       30931.4358, 21221.3107, 18657.9185, 14660.    , 14660.    ,
       14660.    , 14660.    , 14660.    , 23273.1344, 16481.8669,
       14660.    , 24122.95  , 14660.    , 14660.    , 33372.45  ,
       33823.3987, 33384.6878, 29871.3008, 14660.    , 33766.7633,
       25716.71  , 14660.    , 14660.    , 30517.2005, 17513.5419,
       22901.8737, 19835.1664, 22002.5377, 33788.9621, 29938.4664,
       33423.1088, 20471.3897, 18032.0831, 32339.6366, 21873.187 ,
       30325.807 , 23926.1491, 16169.803 , 18266.1666, 14660.    ,
       23761.0811, 33341.0017, 14660.    , 19063.1889, 26679.6541,
       22002.2531, 18423.835 , 27186.8113, 18804.0606, 17587.5379,
       14660.    , 16630.1435, 21848.2845, 18484.1702, 14660.    ,
       14660.    , 21961.413 , 14660.    , 33587.6076, 21821.8167,
       24453.3706, 26854.6831, 19973.9089, 17430.8656, 33577.2197,
       14660.    , 14660.    , 22653.5602, 19027.6139, 20634.8924,
       20962.8939, 33522.0073, 18546.213 , 14987.5746, 24371.6904,
       14660.    , 15667.484 , 16220.7464, 17132.0356, 26620.0304,
       14660.    , 19509.4417, 33524.2841, 16540.4945, 14660.    ,
       21895.5281, 25027.6934, 14660.    , 14660.    , 31321.1955,
       25492.5875, 33769.0401, 19485.2507, 27031.8466, 20013.7529,
       27695.2492, 18014.7225, 17215.2811, 27686.8535, 18866.2457,
       25960.4699, 33113.464 , 26666.1356, 17599.3488, 33376.2921,
       22390.7321, 33808.8841, 14660.    , 31898.6489, 14660.    ,
       25923.4719, 19478.5626, 14660.    , 24726.0174, 14660.    ,
       33638.9779, 20025.8484, 20174.9788, 20663.3524, 19051.5203,
       19932.4996, 18449.5913, 16687.3481, 14660.    , 20477.9355,
       15929.8852, 23535.1087, 14786.5047, 33964.1334, 17830.7286,
       33469.0717, 14660.    , 28827.6726, 33783.1278, 14660.    ,
       16751.2408, 16891.9755, 22955.6631, 24918.9762, 14660.    ,
       33628.59  , 14660.    , 33588.746 , 14660.    , 30074.9321,
       14660.    , 14660.    , 15038.0911, 16983.1898, 33557.8669,
       21566.5305, 14660.    , 25336.769 , 18211.808 , 26780.2602,
       19965.3709, 14660.    , 20858.7303, 33878.0419, 17721.8691,
       19032.0252, 26836.8956, 20388.7134, 18772.1854, 14660.    ,
       27990.0948, 26376.4128, 23628.3152, 14660.    , 27011.0708,
       31140.1899, 33875.9074, 30128.01  , 26931.3828, 14660.    ,
       18852.7272, 15571.7161, 23631.3035, 17434.5654, 31490.2479,
       18467.5211, 26477.5881, 31200.8097, 22056.6117, 14660.    ,
       28206.8177, 14660.    , 20542.1128, 25251.2467, 19910.87  ,
       33537.3757, 14660.    , 17898.8903, 14660.    , 14660.    ,
       18271.574 , 25331.9308, 33565.5511, 23588.8981, 31354.7783,
       14933.5006, 22529.6169, 15470.2562, 15997.9046, 22806.675 ,
       16515.1651, 24087.9442, 16459.8104, 33373.4461, 21216.7571,
       20069.8191, 24534.7662, 25636.8797, 21060.5117, 14660.    ,
       28090.7009, 14660.    , 21847.7153, 33304.7152, 31595.6922,
       26669.9777, 20741.3328, 14660.    , 22628.9423, 14660.    ,
       33807.3188, 33363.4851, 16920.2932, 17272.628 , 14660.    ,
       23039.1932, 21163.5369, 14660.    , 33863.6696, 24930.0756,
       33459.6799, 31840.1636, 14660.    , 33660.4652, 20314.7174,
       26221.875 , 14660.    , 19753.3439, 14660.    , 21136.7845,
       33960.8605, 16802.6111, 19672.9444, 14660.    , 26790.3635,
       19114.2746, 27139.4254, 14660.    , 18363.9267, 33591.3074,
       18457.1332, 17930.054 , 23522.1594, 17366.546 , 14660.    ,
       24402.8541, 15722.2695, 32523.0613, 15879.6533, 24906.4538,
       33116.31  , 33390.6644, 17927.3503, 33990.3166, 24723.0291,
       25766.2304, 14660.    , 32049.7715, 14922.8281, 14660.    ,
       21731.4562, 14660.    , 18412.8779, 14660.    , 14660.    ,
       33867.9386, 14660.    , 22770.1039, 15522.6226, 21075.7378,
       17071.985 , 14660.    , 14660.    , 14660.    , 14660.    ,
       17062.8778, 21787.5224, 23362.2142, 23382.99  , 31621.8754,
       29152.6858, 33819.5566, 14660.    , 33475.7598, 14914.4324,
       18804.9144, 27614.5651, 23272.8498, 14660.    , 25924.468 ,
       15775.632 , 22223.8142, 33501.3738, 15457.1646, 20154.203 ,
       22670.067 , 33563.2743, 21678.8052, 24669.6666, 18363.4998,
       14660.    , 32394.1375, 27856.7597, 26892.8195, 33381.1303,
       14660.    , 25213.1103, 33855.1316, 32007.9353, 20800.1027,
       14660.    , 14660.    , 28455.4158, 14660.    , 30089.7313,
       30867.97  , 23021.6903, 14660.    , 20641.2959, 14660.    ,
       33714.3969, 19755.9053, 14660.    , 18129.9855, 33820.4104,
       25882.9164, 14660.    , 33346.2668, 14660.    , 14660.    ,
       33493.6896, 15266.7672, 17489.4932, 14660.    , 25308.309 ,
       17956.2372, 33502.5122, 29431.7361, 34006.8234, 19147.9997,
       33351.105 , 14769.0018, 33549.0443, 19314.3484, 14660.    ,
       20600.1712, 14660.    , 14828.4832, 14660.    , 22795.4333,
       33799.6346, 22405.389 , 26188.1499, 19262.4089, 14660.    ,
       22806.1058, 23502.522 , 20992.0654, 21363.753 , 23363.068 ,
       26898.0846, 14660.    , 31244.4958, 25338.7612, 19565.3656,
       17259.6787, 33472.6292, 17151.5307, 18821.2789, 24943.5941,
       14660.    , 14660.    , 30969.1453, 33387.9607, 32984.3979,
       20760.2587, 27791.7286, 34000.5622, 24446.8248, 24464.47  ,
       17983.2742, 27228.5052, 14901.3408, 28146.9094, 21577.3453,
       31048.5487, 14867.1888, 19443.6991, 27033.5542, 14660.    ,
       21371.0103, 14660.    , 33775.5859, 17333.2478, 17109.5522,
       17696.3974, 15167.2995, 33617.0637, 22715.4607, 14660.    ,
       14951.2881, 22664.6596, 19129.2161, 16222.7386, 16572.0851,
       33852.2856, 18008.7459, 14660.    , 33779.428 , 33397.4948,
       16362.1926, 14660.    , 31900.7834, 16290.1888, 14660.    ,
       14660.    , 14660.    , 14660.    , 22320.7205, 24372.5442,
       25683.5541, 21532.9477, 33742.8569, 24084.8136, 34003.1236,
       33860.8236, 14660.    , 14660.    , 27726.4129, 33404.4675,
       20120.9048, 28530.9771, 32701.2209, 30315.7037, 16854.266 ,
       26737.9971, 29875.7121, 14660.    , 32546.6831, 20890.7478,
       14660.    , 25313.5741, 29045.8185, 30106.0958, 23023.5402,
       14660.    , 14660.    , 33879.1803, 14660.    , 19644.4844,
       23686.6582, 14660.    , 14660.    , 14660.    , 27889.9156,
       15677.8719, 14660.    , 22973.166 , 14660.    , 33406.0328,
       14660.    , 15660.7959, 15084.9078, 33690.4905, 19377.1027,
       14660.    , 20438.6607, 14660.    , 18682.1095, 21252.6167,
       14660.    , 33127.1248, 14660.    , 33467.2218, 27705.2102,
       14660.    , 22122.6389, 14660.    , 23111.7662, 18579.7958,
       23220.1988, 24250.1662, 15187.0792, 29645.8976, 23834.9348,
       17169.1759, 24835.3038, 29476.276 , 23199.1384, 18140.3734,
       23506.0795, 15991.0742, 22683.0163, 16969.3867, 23250.3664,
       27655.1206, 26144.6061, 33452.8495, 24979.596 , 22210.1534,
       33575.939 , 24530.0703, 14660.    , 33475.3329, 27844.2373,
       14660.    , 19135.1927, 21035.1823, 14660.    , 26235.6781,
       14660.    , 21839.6042, 25441.3595, 24693.8576, 25256.5118,
       33296.0349, 29438.9934, 21148.3108, 15853.6124, 18318.3907,
       14660.    , 33812.5839, 14660.    , 22431.7145, 20639.3037,
       23010.164 , 23281.3878, 30787.0013, 15829.9906, 16513.3152,
       23511.2023, 21828.9317, 30597.1731, 17337.8014, 33332.606 ,
       21146.8878, 14660.    , 25509.0943, 16844.4473, 33638.1241,
       33676.1182, 22776.9343, 23100.8091, 21540.9165, 33644.243 ,
       14831.3292, 28360.5017, 16032.6258, 33502.5122, 15029.8377,
       29024.0466, 32952.8073, 31592.9885, 33376.719 , 25992.4874,
       14660.    , 14660.    , 14660.    , 25873.5246, 30879.354 ,
       33895.6871, 21148.1685, 33545.4868, 16864.9385, 14660.    ,
       14660.    , 33445.1653, 15265.0596, 20966.0245, 23789.5411,
       20674.7364, 23656.3483, 19146.4344, 14660.    , 23626.0384,
       29596.9464, 29301.9585, 33912.3362, 30639.5785, 23444.8905,
       22822.1857, 24557.6765, 21851.9843, 33677.2566, 17607.1753,
       27838.9722, 14660.    , 14660.    , 23988.9034, 30399.0915,
       32054.0405, 14660.    , 14660.    , 33328.337 , 14660.    ,
       14660.    , 26918.2912, 30416.879 , 26897.5154, 27185.8152,
       17503.154 , 17999.2118, 14660.    , 24563.3685, 14660.    ,
       25384.5818, 16052.2632, 29755.4686, 33079.4543, 23153.4601,
       26478.5842, 21499.3649, 28565.4137, 33825.2486, 26725.617 ,
       14664.269 , 19928.2306, 17193.6515, 18943.5146, 14660.    ,
       20595.1907, 21407.866 , 33602.4068, 14660.    , 16571.3736,
       14660.    , 24908.1614, 33650.0773, 17404.2555, 16053.5439,
       17567.7582, 26474.8844, 33847.1628, 17539.4405, 14786.3624])

### Get Settlement

In [6]:
import pandas as pd

# result 의미
# 이익이 minus면 손해 구조

      index   거래수량  거래액수(1kWh)          이익
0     707.0  5.000  231.212020 -103.060100
1     707.0  5.000  229.487020  -94.435100
2     707.0  5.000  227.762020  -85.810100
3     707.0  5.000  226.037020  -77.185100
4     707.0  5.000  224.312020  -68.560100
...     ...    ...         ...         ...
1090  679.0  5.000  139.767332   12.663339
1091  738.0  5.000  139.766774   12.666128
1092   45.0  5.000  139.766719   12.666407
1093   98.0  5.000  139.765360   12.673200
1094  570.0  1.175  141.704329    0.699913

[1095 rows x 4 columns]

In [7]:
from _src.EnergyTrading.model import Household

hh = Household(name='test', kwh=662.716).set_rate("단일", "기타")

In [8]:
hh.elec_rate

98447.9896

In [ ]:
import numpy as np
def elec_rate(t):
    step_limits = np.array([200, 200, float("inf")])
    steps = np.array([0, 200, 400])
    
    _1 = t - steps
    _2 = _1[_1 > 0]
    
    size = _2.size
    _3 = np.where(_2 < step_limits[:size], _2, step_limits[:size])
    print(_3)
    
elec_rate(460)