In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
from _src import EnergyTrading

### data init

In [3]:
file_path = "ami_datas/apt_780_201809.csv"
trade = EnergyTrading(file_path, month=9)

trade.datas.head()

      name  usage (kWh)
0  601_101      287.717
1  601_102      231.085
2  601_103      198.624
3  601_104      242.755
4  601_201      200.995

### set init
- 설정값
1. season : 계절
2. step_limit : usageBorder, 거래 가능 사용량 구하기 위한
3. sum_of_supply_kwh : 거래 가능 사용량 누진단계 1단계 미만 가구들의 총 합

In [185]:
trade.set_init()

trade.datas

         name  usage (kWh)       전력량요금        공용부요금
0     601_101      287.717  27142.1291  8457.822202
1     601_102      231.085  19083.3955  8457.822202
2     601_103      198.624  14559.1392  8457.822202
3     601_104      242.755  20744.0365  8457.822202
4     601_201      200.995  14801.5885  8457.822202
..        ...          ...         ...          ...
775  610_1804      220.434  17567.7582  8457.822202
776  610_1903      283.028  26474.8844  8457.822202
777  610_1904      404.836  44138.4616  8457.822202
778  610_2003      220.235  17539.4405  8457.822202
779  610_2004      200.888  14786.3624  8457.822202

[780 rows x 4 columns]

### simulate

In [186]:
import time

start = time.process_time()
trade.simulate()
end = time.process_time()
print(end - start)

trade.result.shape

11.073037

(548, 4)

### Get Settlement

In [187]:
trade.datas.iloc[:, :10]

         name  usage (kWh)       전력량요금        공용부요금
0     601_101      287.717  27142.1291  8457.822202
1     601_102      231.085  19083.3955  8457.822202
2     601_103      198.624  14559.1392  8457.822202
3     601_104      242.755  20744.0365  8457.822202
4     601_201      200.995  14801.5885  8457.822202
..        ...          ...         ...          ...
775  610_1804      220.434  17567.7582  8457.822202
776  610_1903      283.028  26474.8844  8457.822202
777  610_1904      404.836  44138.4616  8457.822202
778  610_2003      220.235  17539.4405  8457.822202
779  610_2004      200.888  14786.3624  8457.822202

[780 rows x 4 columns]

In [188]:
trade.set_settlement_infos()

trade.simulation_datas.iloc[:, :10]

,name,usage (kWh),전력량 요금,거래 전력량요금(거래가격 적용 X),공용부요금(거래 적용 X),거래 전력량요금(거래 적용 O),공용부요금(거래 적용 O),차이
0,601_101,287.717,27142.1291,27142.1291,8551.951785,27142.1291,9071.376515,0.0
1,601_102,231.085,19083.3955,19083.3955,8551.951785,19083.3955,9071.376515,0.0
2,601_103,200.0,14559.1392,14660.0000,8551.951785,14456.208977,9071.376515,102.930223
3,601_104,242.755,20744.0365,20744.0365,8551.951785,20744.0365,9071.376515,0.0
4,601_201,200.995,14801.5885,14801.5885,8551.951785,14801.5885,9071.376515,0.0
...,...,...,...,...,...,...,...,...
775,610_1804,220.434,17567.7582,17567.7582,8551.951785,17567.7582,9071.376515,0.0
776,610_1903,283.028,26474.8844,26474.8844,8551.951785,26474.8844,9071.376515,0.0
777,610_1904,364.836,44138.4616,38116.1628,8551.951785,43742.359514,9071.376515,396.102086
778,610_2003,220.235,17539.4405,17539.4405,8551.951785,17539.4405,9071.376515,0.0
779,610_2004,200.888,14786.3624,14786.3624,8551.951785,14786.3624,9071.376515,0.0

## 전력량요금 나중에 붙일거

In [174]:
import numpy as np
def elec_rate(t):
    step_limits = np.array([200, 200, float("inf")])
    steps = np.array([0, 200, 400])
    
    _1 = t - steps
    _2 = _1[_1 > 0]
    
    size = _2.size
    _3 = np.where(_2 < step_limits[:size], _2, step_limits[:size])
    print(_3)
    
elec_rate(460)

[200. 200.  60.]