In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [16]:
from _src import SimpleDistributor, GroupDistributor

### SimpleDistributor

In [17]:
file_path = "data/apt_1.xlsx"

simple_dist = SimpleDistributor(file_path=file_path)

In [18]:
simple_dist.set_init()
simple_dist.select_month(1)

In [19]:
simple_dist.set_cont()
simple_dist.set_calc(public_percentage=30)
simple_dist.distribute_table()

,가구명,공용부요금,기여도,기여도 기본요금,기여도 전력량요금,나머지 요금,기여도 요금,오차
0,아파트1-104-1206,25846,0.003183,1455.0,5692.0,5056.611111,12204.0,13642.0
1,아파트1-104-303,25846,0.000322,147.0,575.0,5056.611111,5779.0,20067.0
2,아파트1-104-1307,25846,0.000739,338.0,1322.0,5056.611111,6717.0,19129.0
3,아파트1-104-1208,25846,0.001286,588.0,2300.0,5056.611111,7945.0,17901.0
4,아파트1-104-408,25846,0.001254,573.0,2242.0,5056.611111,7872.0,17974.0
...,...,...,...,...,...,...,...,...
103,아파트1-103-903,25846,0.008777,4011.0,15696.0,5056.611111,24764.0,1082.0
104,아파트1-103-1106,25846,0.008198,3747.0,14661.0,5056.611111,23465.0,2381.0
105,아파트1-103-705,25846,0.00733,3350.0,13109.0,5056.611111,21516.0,4330.0
106,아파트1-103-1505,25846,0.012346,5642.0,22078.0,5056.611111,32777.0,-6931.0
107,아파트1-103-406,25846,0.010192,4658.0,18226.0,5056.611111,27941.0,-2095.0

### GroupDistributor

In [11]:
grp_dist = GroupDistributor(file_path=file_path)

In [12]:
grp_dist.set_init()
grp_dist.select_month(1)

In [13]:
grp_dist.set_cont()
grp_dist.set_calc(public_percentage=30)
dist_df = grp_dist.distribute_table()

In [14]:
dist_df.drop_duplicates('기여도').sort_values(['기여도'])

,가구명,공용부요금,기여도,기여도 기본요금,기여도 전력량요금,나머지 요금,기여도 요금,오차
0,아파트1-104-1206,24444,0.030606,130.0,508.0,21363.814815,22002.0,2442.0
5,아파트1-104-203,24444,0.081629,347.0,1355.0,21363.814815,23066.0,1378.0
6,아파트1-103-1402,24444,0.132652,564.0,2201.0,21363.814815,24129.0,315.0
11,아파트1-103-1602,24444,0.183674,781.0,3048.0,21363.814815,25193.0,-749.0
20,아파트1-102-403,24444,0.234697,998.0,3895.0,21363.814815,26257.0,-1813.0
15,아파트1-102-903,24444,0.336742,1432.0,5588.0,21363.814815,28384.0,-3940.0